#page-wrapper {
  color: #505050;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;
}

#logo {
  height: 115px;
}

#main-logo-wrapper.fade-out {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-35%);
  transition: none;
}

.middle-text.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.footer.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: none;
}
.growing-icon.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: none;
}
.logo-list-item.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.main-logo-wrapper {
  height: 115px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: all 2.5s;
  margin-top: 135px;
  display: inline-block;
  position: relative;
}

.main-logo-wrapper::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: translateX(0);
  transition: none;
  animation-name: sheen;
  animation-duration: 5s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes sheen {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(27em);
  }
  100% {
    transform: translateX(27em);
  }
}

.middle-text-wrapper {
  margin-top: 135px;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.middle-text {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: 1s opacity;
}

.footer {
  position: relative;
  font-size: 17px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
  opacity: 1;
  visibility: visible;
  transition: 1s opacity;
}

.logo-list {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  margin: 0px -20px;
  margin-top: 55px;
}

.logo-list-item {
  height: 35px;
  display: block;
  margin: 15px 20px;
  opacity: 1;
  visibility: visible;
  transition: 0.7s opacity;
}

#gallerist-logo {
  height: 30px;
}

.growing-icon {
  font-size: 39px;
  margin-top: 50px;

  animation: grow-animation 3s linear infinite;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4c4d4f;

  opacity: 1;
  visibility: visible;
  transition: 1s opacity;
  cursor: pointer;
}
@keyframes grow-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.growing-icon:hover {
  color: #b33b43;
}
.growing-icon:selected {
  color: #b33b43;
}

@media screen and (max-width: 750px) {
  .growing-icon:hover {
    color: inherit;
  }
  .growing-icon:selected {
    color: inherit;
  }
  .growing-icon {
    font-size: 28px;
    margin-top: 27px;
  }
  #logo {
    height: 95px;
  }

  .main-logo-wrapper {
    font-size: 23px;
    margin-top: 70px;
    height: 95px;
  }

  .middle-text-wrapper {
    font-size: 18px;
    margin-top: 105px;
  }

  .footer {
    font-size: 15px;
  }

  .logo-list {
    margin: 0px 0px;
    margin-top: 40px;
  }

  .logo-list-item {
    height: 25px;
    display: block;
    margin: 15px 20px;
  }

  #gallerist-logo {
    height: 21px;
  }
  @keyframes sheen {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(20em);
    }
    100% {
      transform: translateX(20em);
    }
  }
}
